# Ignore all files in the folder
.idea/

# Igonore images used in the web app
cinback/static/*
!cinback/static/style.css

# Ignore specific folders in the "cinback" folder
cinback/.ipynb_checkpoints/
cinback/__pycache__/
cinback/images/

# Ignore everything in the "models" folder except "CinaMiNet2.h5"
cinback/models/*
!cinback/models/CinaMiNet2.h5

# Ignore real time capture image
cinback/1.png
